<link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />


<div class="content">
    <h2>Contacto</h2>

    <div class="contact_block">
        <div class="contact_info">
            <p> <i class="devicon-github-original"> </i>AbrahamGM1</p>
            <p> <i class="devicon-linkedin-plain"> </i>Abraham Sered Gómez Martínez</p>
            <p>+52 644 117 65 42</p>
        </div>

        <div class="contact_form">
            <form>
                <div class="form_element">
                    <input type="text" placeholder="Nombre"/>
                </div>

                <div class="form_element">
                    <input type="email" placeholder="Correo electrónico"/>
                </div>

                <div class="form_element">
                    <textarea name="Mensaje" cols="20" rows="10" id="mensaje" placeholder="Mensaje"></textarea>
                </div>

                <div class="form_element">
                    <button type="submit">Enviar mensaje</button>
                </div>
            </form>
        </div>
    </div>
</div>