<div class="content">
    <h2>About Me</h2>
    <p>
        I am a 22-year-old software engineer who developed a strong passion for web development. I graduated in late 2024 from the <span class="university"><b>Instituto Tecnológico de Sonora.</b></span>
    </p>
    <p>
        While my preference is frontend development, <span class="fullstack"><b>my main goal is to become a highly reliable developer</b></span> within any team I work with. Currently, I am self-learning both frontend and backend technologies, striving to stay up to date with the latest trends in software development to remain competitive.
    </p>
    <p>
        On the frontend side, <span class="angular"><b>my primary framework is Angular.</b></span> For styling, I have solid knowledge of CSS, though I prefer SCSS. I also enjoy working with Tailwind CSS and Bootstrap, with Tailwind being my favorite.
    </p>
    <p>
        On the backend, <span class="java"><b>my strongest programming language is Java</b></span>, which led me to choose Spring Boot as my first backend framework. Additionally, I have experience in designing and developing both relational and non-relational databases.
    </p>
    <p>
        In my free time, <b><span class="hobby">I enjoy practicing boxing</span></b> to stay active and maintain good health. I also really like <b><span class="hobby">drawing and game development</span></b> as hobbies. These interests shape my approach to software development: I aim to create applications that are both visually appealing and user-friendly, ensuring that even people unfamiliar with this field can easily interact with them.
    </p>




</div>
