<div class="content">
    <h2>Mis certificaciones</h2>
    
    <div class="certification_block">
        <div class="certification">
            <p>aqui va una imagen</p>
        </div>
        <div class="description">
            <h3>Certificado:</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, magni cumque? Quia, eius incidunt sunt nemo ipsam deserunt exercitationem, a fugit excepturi voluptate in vel suscipit laborum, perferendis similique maiores?</p>
            <button>Link a la certificacion</button>
        </div>

    </div>
</div>