<link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />

<div class="content">
    <div class="image">
        <img src="../../../assets/images/profile_portfolio.jpg" alt="placeholder">
    </div>
    <div class="text">
        <h2>Abraham Sered Gómez Martínez</h2>
        <div class="info">
            <p>
                Hi! I'm Abraham. I enjoy creating projects and solutions that are both visually appealing and user-friendly. I strive to develop things that provide a tangible, visible result. But first and foremost, <span>I am a software engineer</span> who understands of every stage of the software development lifecycle, from requirements gathering to deployment.
            </p>
        </div>
        <div class="buttons">
            <a href="/assets/docs/cv.pdf" target="_blank">Download CV</a>
            <a href="https://github.com/AbrahamGM1"  target="_blank"><i class="devicon-github-plain"></i>GitHub</a>
            <a href="https://www.linkedin.com/in/abraham-sered-gomez-mart%C3%ADnez-95b385330/"  target="_blank"><i class="devicon-linkedin-plain"></i>LinkedIn</a>
        </div>
    </div>
</div>
