<div class="content">

    <h2>Experience</h2>

    <div class="experience_block">

        <div class="experience_card">

            <div class="year">
                <p>August - December 2023</p>
            </div>

            <span class="title_java"><h3>Java SE Developer / Product Owner</h3></span>
                
            <div class="company">
                <h3>"Instituto Tecnológico de Sonora"</h3>
            </div>

            <p>
                Developed a management module for physical training plans for sports instructors at the institute. Acted as an intermediary between the client and the team, participated in requirements gathering and analysis, and utilized the agile methodology SCRUM for iterative value delivery.
            </p>
        </div>

        <div class="timeline_block">
            <div class="first_block"></div>
            <div class="timeline"></div>
            <div class="last_block"></div>
        </div>

        <div class="experience_card">

            <div class="year">
                <p>January - May 2024</p>
            </div>

            <span class="title_angular"><h3>Angular Front-end Developer</h3></span>

            <div class="company">
                <h3>"Subsecretaría de Gobierno Digital del Estado de Sonora"</h3>
            </div>

            <p>
                Developed user interfaces and data query components using Angular 17. I participated in the requirements gathering and analysis phases. Despite mid-development requirement changes, the front-end was successfully adapted to meet the new specifications.
            </p>
        </div>

    </div>

</div>