<link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />

<div class="nav_class">
  <app-navbar></app-navbar>
</div>

<div class="content">

  <div class="main_page">
    <app-home id="home"></app-home>  
  </div>
  
  <div class="page">
    <app-experience id="experience"></app-experience>
  </div>


  <div class="page">
    <app-projects id="projects"></app-projects>
  </div>


  <div class="page">
    <app-skills id="skills"></app-skills>
  </div>

  <div class="page">
    <app-about id="about"></app-about>
  </div>

  <div class="shapes">
    <div class="bubble"></div>
    <div class="square"></div>
    <div class="bubble"></div>
    <div class="square"></div>
    <div class="bubble"></div>
    <div class="square"></div>
    <div class="bubble"></div>
    <div class="square"></div>
    <div class="bubble"></div>
    <div class="square"></div>
  </div>  
</div>

<footer>
  <div class="credits">
    <p>
      © 2025 Abraham Sered Gómez Martínez. All rights reserved. | Icons by <a href="https://devicon.dev/" target="_blank"><b>Devicon</b></a><i class="devicon-devicon-plain colored"></i>
    </p>
  </div>
</footer>
