<link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />

<div class="content">
    <h2>My Projects</h2>

    <div class="project_content">

        <div class="project">
            <img src="../../../assets/images/localmanga_example.jpg" alt="localmanga">
        </div>

        <div class="description">

            <h3>LocalManga (Work in progress)</h3>

            <div class="title">
                <div class="tool"  [ngStyle]="{'background-color': 'red'}">
                    <i class="devicon-angular-plain"></i>
                    <p>Angular</p>
                </div>

                <div class="tool" [ngStyle]="{'background-color': 'green'}">
                    <i class="devicon-spring-plain"></i>
                    <p>Spring Boot</p>
                </div>

                <div class="tool" [ngStyle]="{'background-color': '#00758F'}">
                    <i class="devicon-mysql-plain"></i>
                    <p>MySQL</p>
                </div>

                <div class="tool" [ngStyle]="{'background-color': '#38BDF8'}">
                    <i class="devicon-tailwindcss-plain"></i>
                    <p>Tailwind CSS</p>
                </div>

            </div>

            <p>
                LocalManga is a manga reading application designed to work entirely offline. Created as a hobby project for learning purposes, its goal is to serve as a frontend where all images from stored manga chapters can be displayed in an organized manner. By operating locally, it avoids any external conflicts
            </p>
        </div>

    </div>

</div>